<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

    <body>
        <%- include('../../layout/header') %>

            <main>
                <span class="header">Details</span>

                <%- include('detail') %>

                    <a href="/" id="back">Back</a>
            </main>
            <%- include('../../layout/footer') %>

    </body>

</html>