:root{
    --yellow: #FECB62;
    --pink: #212c38;
    --dark: #010101;
    --light: #EEEEEC;
    --paleyellow: #ffe6b5;
}

*{
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    line-height: 1.5;
    position: relative;
}

