<header>
    <div>
        <h3>Best Books!</h3>
        <i class="fa fa-bars" id="menu"></i>
    </div>
    <div class="clear"></div>
    <nav id="menuItems" style="display: none;">
        <a href="/">Home</a><br>
        <a href="/new">Search the Google Books API</a>
    </nav>
</header>